@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mona Sans';
    font-weight: 200 900;
    font-display: block;
    font-style: normal;
    font-stretch: 75% 125%;
    src: url('../public/fonts/Mona-Sans.var.woff2') format('woff2');
}

/* Prevent blue highlight on autofill in Chrome/Safari */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px white inset; /* Change 'white' to desired background color */
    -webkit-text-fill-color: inherit;
}

/* Add whitespace to inline codeblocks*/
.short-inline-codeblock {
    @media screen and (min-width: 769px) {
        white-space: pre !important;
    }
}

/* Sets the image in @Next/Image components to respect the height of the content */
.next-image--dynamic-fill {
    width: 100%;
    grid-column: 1 / -1;
}

.next-image--dynamic-fill > span {
    position: relative !important;
}

.next-image--dynamic-fill img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}